<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key><string>Seen</string>
	<key>NSLocalNetworkUsageDescription</key><string>Send your queued DOM captures only to your paired Mac on the local network.</string>
	<key>CFBundleURLTypes</key><array><dict><key>CFBundleURLName</key><string>Seen pairing</string><key>CFBundleURLSchemes</key><array><string>seen-pair</string></array></dict></array>
	<key>SFSafariWebExtensionConverterVersion</key>
	<string>26.4.1</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
